# Node modules & frontend builds
node_modules/
**/node_modules/
dist/
**/dist/
.next/
.turbo/
build/

# Local data & binaries
data/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go build
*.out
cmd.exe

# Environment files (Allowed for development testing)
#.env
!.env.example

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
